@import '../../../../assets/theme/colours/palette.scss';

.container-fluid {
    padding: 0 160px;
}

.navbar {
    padding: 0;
    margin: 0;
}

.top-nav-container {
    min-height: 60px;
    height: 60px;
    background-color: $primary-dark;
}

.search-box {
    background-color: $primary-dark-lighter;
    border: none;
    width: 300px;
    font-size: 14px;
    font-weight: 300;
}

.user-account-controls {
    align-items: center;
}

.user-welcome-message {
    line-height: 12px;

    p {
        margin: 0;
        font-size: 10px;
        color: white;
        font-weight: 300;
    }
}

.account-control-icon {
    width: 18px;
    height: 18px;
}