<div class="internship-hub-detail-options-configurations">
    <div class="configurations-page-header">
        <page-header title="Configurations" description="Manage all configurations about your internship."/>
    </div>

    <div class="configurations-page-body">
        <div class="configuration-left-section">
            <div class="configuration-option">
                <div class="configuration-option-details">
                    <h1 class="configuration-name">Location</h1>
                    <p class="configuration-summary">Change the current location of where the internship will take place.</p>
                    <p class="configuration-warning">Attention: One the internship has been started, you will be prohibited from changing the location again.</p>
                    <div class="configuration-action">
                        <action-button label="Save"/>
                    </div>
                </div>
                <div class="configuration-option-field">
                    <mat-form-field appearance="outline">
                        <mat-label>Toppings</mat-label>
                        <mat-select>
                          <mat-select-trigger>
                           
                          </mat-select-trigger>
                          <mat-option></mat-option>
                        </mat-select>
                      </mat-form-field>
                </div>
            </div>

            <div class="configuration-option">
                <div class="configuration-option-details">
                    <h1 class="configuration-name">Location</h1>
                    <p class="configuration-summary">Change the current location of where the internship will take place.</p>
                    <p class="configuration-warning">Attention: One the internship has been started, you will be prohibited from changing the location again.</p>
                    <div class="configuration-action">
                        <action-button label="Save"/>
                    </div>
                </div>
                <div class="configuration-option-field">
                    <mat-form-field appearance="outline">
                        <mat-label>Toppings</mat-label>
                        <mat-select>
                          <mat-select-trigger>
                           
                          </mat-select-trigger>
                          <mat-option></mat-option>
                        </mat-select>
                      </mat-form-field>
                </div>
            </div>
        </div>

        <div class="configuration-section-divider"></div>
        
        <div class="configuration-right-section">
            <div class="configuration-option">
                <div class="configuration-option-details">
                    <h1 class="configuration-name">Location</h1>
                    <p class="configuration-summary">Change the current location of where the internship will take place.</p>
                    <p class="configuration-warning">Attention: One the internship has been started, you will be prohibited from changing the location again.</p>
                    <div class="configuration-action">
                        <action-button label="Save"/>
                    </div>
                </div>
                <div class="configuration-option-field">
                    <mat-form-field appearance="outline">
                        <mat-label>Toppings</mat-label>
                        <mat-select>
                          <mat-select-trigger>
                           
                          </mat-select-trigger>
                          <mat-option></mat-option>
                        </mat-select>
                      </mat-form-field>
                </div>
            </div>
        </div>
    </div>
</div>
