// Mentoship Task

@import '../../../../assets/theme/mixins';

.form-title, label {
    color: #2B2F42
}

.form-title {
    font-size: 24px;
}

.container-fluid {
    background-image: url(../../../../assets/images/backgrounds/auth-bg.png);
    background-repeat: no-repeat;
    background-size: cover;
}

label {
    text-align: left;
    padding: 0;
    color: 2B2F42;
    font-size: 12px;
}

input {
    border-radius: 8px;
    border: 1px solid #C5C5DD;
    height: 40px;
    font-size: 12px;
}

.form-field-row {
    margin-bottom: 16px;
}

.form-body {
    margin-top: 24px;
    width: 75%;
}

.form-column {
    background-color: white;
}

.form-wrapper {
    margin: 0 100px;
}

.container-fluid {
    background-color: #7166F9;
}

.signup-button {
    @include large-button;
    background-color: #7166F9 ;
}

small {
    color: #C4C4C4;
    font-weight: 300;
}

span {
    color: #7166F9;
    font-weight: normal;
}

.description-wrapper {
    padding: 50px 0;
    margin-left: 120px;
}

.app-title-description {
    margin-top: 40px;
    font-size: 24px;
    color: #2B2F42;
    width: 60%;
}

.app-features-description {
    font-size: 12px;
    color: #2B2F42;
    font-weight: lighter;
}

.error-message {
    font-size: 11px;
}