<div class="container-fluid">
    <div class="form-container">
        <div class="row w-100 form-title mb-3">
            <app-title text="Sign in."/>
            <app-paragraph text="Please fill the form below in order to login." />
        </div>
            <form [formGroup]="signinForm" class="d-flex flex-column">
        
                <mat-form-field appearance="outline">
                    <mat-label>Email</mat-label>
                    <input type="email" matInput formControlName="email" placeholder="Enter your email">
                    <mat-error *ngIf="signinForm.get('email')?.invalid && signinForm.get('email')?.touched">
                      Email is required.
                    </mat-error>
                </mat-form-field>
        
                <mat-form-field appearance="outline">
                    <mat-label>Password</mat-label>
                    <input type="password" matInput formControlName="password" placeholder="Enter your password">
                    <mat-error *ngIf="signinForm.get('password')?.invalid && signinForm.get('password')?.touched">
                      Password is required.
                    </mat-error>
                </mat-form-field>

                <app-button appearance="filled" label="Sign up" (click)="submitSigninRequest()"/>

                <div class="row form-field-row loggin-option-field mt-3">
                    <small>Dont have an account?
                        <span>Sign up</span>
                    </small>
                </div>
        
        </form>
    </div>
</div>
