<div class="container-fluid">
    <div class="row">
      <div class="col">

           <div>
            <img class="app-logo" src="../../../../assets/images/logo/app-logo-full-light.svg" />
           </div>

           <div class="title">
            <p>Welcome to Shine.</p>
           </div>

           <div>
                <p class="text">
                Lorem, ipsum dolor sit amet consectetur adipisicing elit. 
                Odit, debitis nisi sapiente ex eligendi illum possimus.
                </p>

               <p class="text">
                Lorem, ipsum dolor sit amet consectetur adipisicing elit. 
                Odit, debitis nisi sapiente ex eligendi illum possimus.
               </p>

               <p class="text">
                Lorem, ipsum dolor sit amet consectetur adipisicing elit. 
                Odit, debitis nisi sapiente ex eligendi illum possimus.
               </p>
           </div>

           <div class="w-100">
            <button class="btn signin-btn w-100">Sign in</button>
           </div>

           <div class="text-center mt-3">
            <p class="text">&copy; Bogdan Aldea. All rights reserved.</p>
           </div>

      </div>
    </div>
  </div>
