$primary-dark: #2B2F42;
$primary-dark-lighter: #525577;
$primary-background-light: #F6F6FB;
$muted-light: #e2e2e2;


$brand-blue-main: #4CD7F5;
$brand-blue-darker: #5381D5;
$brand-purple-main: #7166F9;

$green: #32A378;
$stroke: #BCC0D3;