<div class="mentorship-participant-card-container" >
    <div *ngIf="participant">
        <div class="role-container">
            <h1>{{ participant.role }}</h1>
        </div>
        <div class="body-container">
           <div class="avatar">
                <app-picture-avatar 
                [height]="height"
                [width]="width"
                [pictureUrl]=participant.pictureUrl/>
           </div>
    
            <div class="user-information">
                <h2>{{ participant.fullName }}</h2>
                <p>{{ participant.email }}</p>
            </div>
        </div>
    </div>

    <div *ngIf="!participant">

        <div class="body-container">
           <div class="avatar">
                <app-action-button 
                appearance="clean"
                [icon]="icon"
                label="Assign member"/>
           </div>
    
        </div>
    </div>
</div>
