.general-curriculum-shell-general-topic-list .general-topic-list-page-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.general-curriculum-shell-general-topic-list .general-topic-list-topic-cards {
    margin-top: 24px;
}