@import './assets/theme/colours/palette.scss';
body, html {
    font-family: 'Roboto';
    background-color: white;
}

.container-fluid {
    padding: 0;
    margin: 0;
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
