<div class="setup-step-body-container">
    <div class="role-container">
        <h1 class="step-title">{{ stepTitle }}</h1>
    </div>
    <div class="body-container">
        <div class="row">
            <div class="col-4 setup-input-col">
                <div class="col-header">
                    Center
                </div>
                <div class="col-input">
                    <app-filter-dropdown filterLabel="Center"/>
                    <p>Creating a new internship requires a center to be set.</p>
                </div>
            </div>

            <div class="col-4 setup-input-col">
                <div class="col-header">
                    Duration
                </div>
                <div class="col-input">
                    <app-field filterLabel="In Months"/>
                    <p>Creating a new internship requires a center to be set.</p>
                </div>
            </div>

            <div class="col-4 setup-input-col">
                <div class="col-header">
                    Interns to enroll
                </div>
                <div class="col-input">
                    <app-filter-dropdown filterLabel="Number of Interns"/>
                    <p>Creating a new internship requires a center to be set.</p>
                </div>
            </div>

            <div class="col-4 setup-input-col">
                <div class="col-header">
                    Scheduled to start on
                </div>
                <div class="col-input">
                    <app-filter-dropdown filterLabel="Start of internship"/>
                    <p>Creating a new internship requires a center to be set.</p>
                </div>
            </div>

            <div class="col-4 setup-input-col">
                <div class="col-header">
                    Estimated to end on
                </div>
                <div class="col-input">
                    <app-filter-dropdown filterLabel="End of internship"/>
                    <p>Creating a new internship requires a center to be set.</p>
                </div>
            </div>
        </div>
    </div>
</div>
