@import '../../../../../../assets/theme/colours/palette.scss';
.setup-step-body-container {
    background-color: #F5F6F8;
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    border: 1px solid #BCC0D3;
    border-radius: 36px;

    .step-title {
        font-size: 14px;
        padding: 16px 48px;
        margin: 0;
    }

    .step-body {
        display: flex;
        flex-direction: column;
        background-color: white;
        padding: 32px 48px;
        gap: 16px;
        border-radius: 36px;
    }

    .setup-input-col {
        margin-bottom: 36px;
        .col-header {
            margin-bottom: 16px;
            display: flex;
            align-items: center;
            gap: 8px
        }
        .col-name {
            font-size: 14px;
            font-weight: 500;
            color: $primary-dark;
        }
        p {
            margin-top: 16px;
            margin-bottom: 0;
            font-size: 12px;
            color: $stroke;
            line-height: 12px;
        }
    }
}