@import '../../../../../assets/theme/palettes/palette.scss';

.components-link-node {
    display: flex;
    align-items: center;
    gap: 4px;
    font-size: 12px;
    font-weight: 700;
    text-decoration: none;
    color: $dark;
}

.menu-link-icon {
    width: 16px;
    height: 16px;
}