.components-link-node {
    display: flex;
    align-items: center;
    gap: 4px;
    font-size: 12px;
    font-weight: 400;
    text-decoration: none;
}

.menu-link-icon {
    width: 14px;
    height: 14px;
    margin-top: .8px;
}