@import '../../../../../assets/theme/colours/palette.scss';
@import '../../../../../assets/theme/mixins/table-mixin.scss';

.container-fluid {
    margin-top: 48px;
    display: flex;
    flex-direction: column;
    gap: 36px;
}

.filters {
    display: flex;
    gap: 24px;
}

.page-header {
    .page-title {
        font-size: 24px;
        color: $primary-dark;
        margin: 0;
    }

    .page-description {
        font-size: 14px;
        margin: 0;
        color: #647895;
    }
}

.add-internship-action {
    height: 300px;
    margin-top: 160px;
    display: flex;
    justify-content: center;
}

.card-container {
    width: 30%;
}

table {
    @include table;
}