<div class="container-fluid">

    <div class="page-header">
        <h1 class="page-title">Internships</h1>
        <p class="page-description">Manage all available internships in your organisation by selecting whichever you want to.</p>
    </div>

    <div class="filters">
        <app-filter-dropdown 
            icon="../../../assets/icons/dark/Global/Internship.svg"
            filterLabel="Location"/>
        <app-filter-dropdown 
            icon="../../../assets/icons/dark/Global/Internship.svg"
            filterLabel="Timeframe"/>

        <app-filter-dropdown 
            icon="../../../assets/icons/dark/Global/Internship.svg"
            filterLabel="Status"/>
    </div>

    <div *ngIf="internships | async as internships" class="table-row">
        <div *ngIf="hasInternships" class="row align-items-start">
            <div class="col-9">
                <table class="w-100">  
                    <thead>
                        <tr>
                            <th>Center</th>
                            <th>Status</th>
                            <th>Scheduled to start on</th>
                            <th>Estimated to end on</th>
                            <th>Duration</th>
                            <th>Interns</th>
                            <th>Completion Rate</th>
                            <th></th>
                        </tr>
                    </thead> 
                    <tbody>
                        <tr *ngFor="let internship of internships" class="account-row">
                            <td>
                                <div class="table-data">
                                    <img class="icon" [src]="icons.Location.Dark" alt="">
                                    <p class="data">{{ internship.center }}</p>
                                </div>
                            </td>
    
                            <td>
                                <div class="table-data">
                                    <img class="icon" [src]="icons.Users.Dark" alt="">
                                    <p class="data">{{ internship.maxInternsToEnroll }} Interns</p>
                                </div>
                            </td>
                            <td>
                                <div class="table-data">
                                    <img class="icon" [src]="icons.Presentation.Dark" alt="">
                                    <p class="data">{{ internship.scheduledToStartOn | date: 'mediumDate' }}</p>
                                </div>
                            </td>
                            <td>
                                <div class="table-data">
                                    <img class="icon" [src]="icons.Presentation.Dark" alt="">
                                    <p class="data">{{ internship.estimatedToEndOn | date: 'mediumDate' }}</p>
                                </div>
                            </td>
                            <td>
                                <div class="table-data">
                                    <img class="icon" [src]="icons.Presentation.Dark" alt="">
                                    <p class="data">{{ internship.durationInMonths }} Months</p>
                                </div>
                            </td>
                            <td>
                                <div class="table-data">
                                    <p class="data">{{ internship.status }}</p>
                                </div>
                            </td>
    
                            <th>
                                <div class="table-data">
                                    <mat-progress-bar mode="determinate" value="40"></mat-progress-bar>
                                    <p class="data">40</p>
                                </div>
                            </th>
                            <td>
                                <div class="table-data">
                                    <button class="table-action" [routerLink]="['/internships', internship.id]">
                                        <img [src]="icons.Add.Brand" alt="">
                                        See More
                                    </button>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                
                </table>
            </div>
            <div class="col-3"> 
                <app-action-card 
                icon="../../../assets/icons/light/Global/Internship.svg"
                description="Start setting up a new internship  
                for your company and manage 
                all its aspects."
                actionName="Add internship" />
            </div>
        </div>
        <div *ngIf="!hasInternships" class="add-internship-action">
            <div class="card-container">
                <app-action-card 
                icon="../../../assets/icons/light/Global/Internship.svg"
                description="Start setting up a new internship  
                for your company and manage 
                all its aspects."
                actionName="Add internship" />
            </div>
        </div>
    </div>
</div>


