@import '../../../../../assets/theme/colours/palette.scss';

.date-picker {
    background-color: $brand-purple-main;
    display: flex;
    align-items: center;
    border-radius: 16px;
    padding: 0 10px;
    gap: 0;
}

.deadline-label,
.deadline-input,
::placeholder {
    color: white;
    font-size: 12px;
}

input {
    background-color: transparent;
    border: none;
    outline: none;
    width: 80px;
    height: 30px;
}

.mat-icon {
    height: auto;
    width: auto;
}

.mat-datepicker-toggle .mat-icon {
    font-size: 1px; /* Adjust the size to your preference */
  }