<div class="container-fluid">
    <div class="row page-header-with-details">
        <div class="col-xs-12 col-sm-12 col-md-9 col-lg-9">
            <div class="row justify-content-between">
                <div class="col">
                    <app-title text="Accounts" />
                    <app-paragraph text="Manage accounts and access." />
                </div>
                <div class="col text-end align-self-end">
                    <div class="">
                        <span class="me-4">13 Accounts</span>
                        <app-button appearance="filled" label="+ Add Member"/>
                    </div>
                </div>
            </div>

            <app-accounts-table [accounts$]="accounts$" (onUserSelectedEvent)="selectUserFromTable($event)" />
        </div>
    </div>
</div>
