<s-container class="error-page-features-error-page-container">
    <div class="error-page-error-information">
            <h1 class="error-status-code">Error {{errorCode}}</h1>
            <p class="error-status-message">
                    We apologize for any inconvenience. It appears that an error has occurred while processing your request.
                    If you need immediate assistance or have any questions, please click the "Contact Support" button below to reach our dedicated support team.
            </p>
            <!-- <action-button label="Contact Support"/> -->
    </div>
</s-container>
