<div class="row setup-form-row">
    <div class="col-4 col-container">
        <div class="col-header"  *ngIf="icons">
            <img [src]="icons.Location.Dark" alt="">
            <span class="col-name">Center</span>
        </div>
        <div class="col-body">
            <app-filter-dropdown #field
            label="Center"/>

            <p class="field-information">
                Creating a new internship requires a center to be set.
            </p>
        </div>
    </div>

    <div class="col-4 col-container">
        <div class="col-header"  *ngIf="icons">
            <img [src]="icons.Users.Dark" alt="">
            <span class="col-name">Coordinator</span>
        </div>
        <div class="col-body">
            <app-filter-dropdown label="Coordinator" #field/>
            <p class="field-information">
                Creating a new internship requires a center to be set.
            </p>
        </div>
    </div>

    <div class="col-4 col-container">
        <div class="col-header"  *ngIf="icons">
            <img [src]="icons.Presentation.Dark" alt="">
            <span class="col-name">Duration</span>
        </div>
        <div class="col-body">
            <app-field label="In months" #field/>
            <p class="field-information">
                Creating a new internship requires a center to be set.
            </p>
        </div>
    </div>

    <div class="col-4 col-container">
        <div class="col-header"  *ngIf="icons">
            <img [src]="icons.Interns.Dark" alt="">
            <span class="col-name">Interns to enroll</span>
        </div>
        <div class="col-body">
            <app-field label="Number of interns" #field/>
            <p class="field-information">
                Creating a new internship requires a center to be set.
            </p>
        </div>
    </div>

    <div class="col-4 col-container">
        <div class="col-header"  *ngIf="icons">
            <img [src]="icons.Presentation.Dark" alt="">
            <span class="col-name">Scheduled start date</span>
        </div>
        <div class="col-body">
            <app-date-picker label="Start" #field/>
            <p class="field-information">
                Creating a new internship requires a center to be set.
            </p>
        </div>
    </div>

    <div class="col-4 col-container">
        <div class="col-header"  *ngIf="icons">
            <img [src]="icons.Presentation.Dark" alt="">
            <span class="col-name">Estimated end date</span>
        </div>
        <div class="col-body">
            <app-date-picker label="End" #field/>
            <p class="field-information">
                Creating a new internship requires a center to be set.
            </p>
        </div>
    </div>
</div>
