<div class="row setup-form-row">
    <div class="col-4 col-container">
        <div class="col-header"  *ngIf="icons">
            <img [src]="icons.Location.Dark" alt="">
            <span class="col-name">Center</span>
        </div>
        <div class="col-body">
            <app-filter-dropdown
            [options]="centers"
            displayProperty="name"
            label="Center"
            identifier="center"/>

            <p class="field-information">
                Creating a new internship requires a center to be set.
            </p>
        </div>
    </div>

    <div class="col-4 col-container">
        <div class="col-header"  *ngIf="icons">
            <img [src]="icons.Users.Dark" alt="">
            <span class="col-name">Coordinator</span>
        </div>
        <div class="col-body">
            <app-filter-dropdown 
            [options]="coordinators"
            displayProperty="displayName"
            label="Coordinator"
            identifier="coordinators"/>
            <p class="field-information">
                Creating a new internship requires a center to be set.
            </p>
        </div>
    </div>

    <div class="col-4 col-container">
        <div class="col-header"  *ngIf="icons">
            <img [src]="icons.Presentation.Dark" alt="">
            <span class="col-name">Duration</span>
        </div>
        <div class="col-body">
            <app-field 
            [type]="fieldType.int"
            label="In months"
            identifier="duration"/>
            <p class="field-information">
                Creating a new internship requires a center to be set.
            </p>
        </div>
    </div>

    <div class="col-4 col-container">
        <div class="col-header"  *ngIf="icons">
            <img [src]="icons.Interns.Dark" alt="">
            <span class="col-name">Interns to enroll</span>
        </div>
        <div class="col-body">
            <app-field 
            [type]="fieldType.int"
            label="Number of interns"
            identifier="interns"/>
            <p class="field-information">
                Creating a new internship requires a center to be set.
            </p>
        </div>
    </div>

    <div class="col-4 col-container">
        <div class="col-header"  *ngIf="icons">
            <img [src]="icons.Presentation.Dark" alt="">
            <span class="col-name">Scheduled start date</span>
        </div>
        <div class="col-body">
            <app-date-picker 
            label="Start"
            identifier="startDate"/>
            <p class="field-information">
                Creating a new internship requires a center to be set.
            </p>
        </div>
    </div>

    <div class="col-4 col-container">
        <div class="col-header"  *ngIf="icons">
            <img [src]="icons.Presentation.Dark" alt="">
            <span class="col-name">Estimated end date</span>
        </div>
        <div class="col-body">
            <app-date-picker 
            label="End"
            identifier="endDate"/>
            <p class="field-information">
                Creating a new internship requires a center to be set.
            </p>
        </div>
    </div>
</div>
