<div class="internship-hub-list-components-internship-filter">
    <div class="internship-filter">
        <mat-form-field appearance="outline">
            <mat-label>Status</mat-label>
            <mat-select  multiple>
              <mat-select-trigger>
               
              </mat-select-trigger>
              <mat-option></mat-option>
            </mat-select>
          </mat-form-field>
    </div>

    <div class="internship-filter">
        <mat-form-field appearance="outline">
            <mat-label>Scheduled Start Date</mat-label>
            <mat-select  multiple>
              <mat-select-trigger>
               
              </mat-select-trigger>
              <mat-option></mat-option>
            </mat-select>
          </mat-form-field>
    </div>

    <div class="internship-filter">
        <mat-form-field appearance="outline">
            <mat-label>Estimated Graduation Date</mat-label>
            <mat-select  multiple>
              <mat-select-trigger>
               
              </mat-select-trigger>
              <mat-option></mat-option>
            </mat-select>
          </mat-form-field>
    </div>
</div>
