@import '../../../../assets/theme/colours/palette.scss';

.menu-link-icon {
    width: 12px;
    height: 12px;
}

.nav-link {
    position: relative;
    transition: border-bottom-color 0.9s ease;
    color: $primary-dark-lighter;
    font-size: 12px;
    font-weight: 500;
}

.nav-link.active {
    background-color: #f1f3fa;
    border-radius: 40px;
    border: 1px solid $primary-dark-lighter;
    transition: width 0.3s ease;
}