@import '../../../../assets/theme/colours/palette.scss';

.menu-link-icon {
    width: 12px;
    height: 12px;
}

.nav-link {
    position: relative;
    color: $primary-dark-lighter;
    font-size: 12px;
    font-weight: 500;
    padding: 4px 16px;
}

.nav-link.active {
    background-color: #f1f3fa;
    border-radius: 40px;
    border: 1px solid $primary-dark-lighter;
    transition: width 0.3s ease;
    padding: 4px 16px;
}