<div class="components-navigations-topbar">
    <div class="topbar-metadata-container">
        <div class="topbar-app-logo">
            <img src="../../../../../assets/images/logo/app-logo-new-light.svg" alt="">
        </div>

        <div class="topbar-vertical-divider"></div>

        <div class="topbar-current-page-name" *ngIf="todayDate">
            <h1 class="today-date">{{ todayDate.month }} {{ todayDate.day }}, {{ todayDate.year }}</h1>
        </div>

    </div>
    <div class="topbar-search-container">
        <img src="../../../../../assets/icons/muted/Global/Search.svg" alt="">
        <input class="search-bar-field" type="text" placeholder="Search...">
    </div>
    <div class="topbar-user-account-section">
        <div class="account-user-controls">
            <img src="../../../../../assets/icons/light/Global/Notification.svg" alt="">
            <img src="../../../../../assets/icons/light/Global/Settings.svg" alt="">
        
        </div>

        <div class="topbar-vertical-divider"></div>

        <div class="account-user-information">
            <div class="account-avatar">IG</div>
            <div class="account-name-email">
                <p class="username">User Name</p>
                <p class="user-email">user.name@shine.com</p>
            </div>
        </div>
    </div>
</div>
