<div class="inline-navigation-container navbar-expand-lg">

    <div class="app-logo">
        <img src="../../../../assets/images/logo/app-logo-new-light.svg" alt="">
    </div>

    <div class="menu-nav-container">
        <div>
          <ul class="navbar-nav me-auto mb-2 mb-lg-0 gap-4">
            <li class="nav-item d-flex" *ngFor="let nodeData of menuItems">
              <node [nodeData]="nodeData"/>
            </li>
          </ul>
        </div>
      </div>

    <div class="user-controls">
        <div class="account-controls" *ngFor="let control of accountControls">
            <node [nodeData]="control"/>
        </div>
        <div class="account-message">
            <div class="welcome-message">
                <p class="welcome">Welcome,</p>
                <p class="username">User</p>
            </div>
            <avatar pictureUrl="../../../../assets/images/profile/profile-pic.jpg"/>
        </div>
    </div>

</div>

