@import '../../../../../assets/theme/palettes/palette.scss';

.user-initials-avatar{
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: $dark;
    color: #fff;
    font-weight: 500;
    font-size: 12px;
    text-transform: uppercase;
  }