@import '../../../../../assets/theme/palettes/palette.scss';

.components-navigations-sidebar {
    height: 100%;
    border-right: 1px solid $muted-light;

    // background-color: $purple-main;

    padding: 24px 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

// .components-navigations-sidebar .sidebar-menu-container {
//     background-color: $background-light;
//     border-radius: 16px;
//     margin: 0 8px;
// }

.components-navigations-sidebar .sidebar-menu-container,
.components-navigations-sidebar .sidebar-footer-container {
    display: flex;
    flex-direction: column;
}

.sidebar-menu-container .sidebar-menu-list,
.sidebar-footer-container .sidebar-menu-list {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 16px;
    padding: 0;
    text-align: center;
}

.sidebar-menu-list .sidebar-menu-node {
    height: 48px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.sidebar-menu-list .active {
    background-color: $muted-light;
    // border-right: 6px solid $purple-main;

    // img {
    //     padding-right: -6px;
    // }
}

.active img{
    // padding-left: 6px;
}