<div class="container-fluid p-5">

    <div class="dialog-header">
        <app-title text="Add new member"/>
        <app-paragraph text="Fill the form below in order to add a new member."/>
    </div>

    <div class="form-container my-5">
        <form [formGroup]="newUserForm" class="d-flex flex-column" *ngIf="roles$ | async as roles">

            <mat-form-field appearance="outline">
                <mat-label>First Name</mat-label>
                <input matInput formControlName="firstName" placeholder="Enter user's first name">
                <mat-error *ngIf="newUserForm.get('firstName')?.invalid && newUserForm.get('firstName')?.touched">
                  First Name is required.
                </mat-error>
            </mat-form-field>
    
            <mat-form-field appearance="outline">
                <mat-label>Last Name</mat-label>
                <input matInput formControlName="lastName" placeholder="Enter user's first name">
                <mat-error *ngIf="newUserForm.get('lastName')?.invalid && newUserForm.get('lastName')?.touched">
                  First Name is required.
                </mat-error>
            </mat-form-field>
    
            <mat-form-field appearance="outline">
                <mat-label>Email</mat-label>
                <input matInput formControlName="email" placeholder="Enter user's email">
                <mat-error *ngIf="newUserForm.get('email')?.invalid && newUserForm.get('email')?.touched">
                  First Name is required.
                </mat-error>
            </mat-form-field>
    
            <mat-form-field appearance="outline">
                <mat-label>Toppings</mat-label>
                <mat-select formControlName="roles" multiple>
                  <mat-select-trigger>
    
                  </mat-select-trigger>
                  <mat-option *ngFor="let role of roles" [value]="role.id">{{role.name}}</mat-option>
                </mat-select>
              </mat-form-field>
    
        </form>
    </div>

    <mat-dialog-actions class="d-flex justify-content-between">
        <app-button appearance="filled" label="Cancel" />
        <app-button appearance="filled" label="Submit" (click)="getNewUserData()"/>
      </mat-dialog-actions>

</div>
