<div class="mentorship-task-card-container">
    <div class="task-header">
        <div class="status">
            <div [ngClass]="isTodo ? 'to-do' : 'done'" class="status-dot"></div>
            <div class="status-name">{{ statusName}}</div>
        </div>

        <div class="menu">
            <img class="menu-icon" src="../../../../../assets/icons/dark/Global/More.svg" alt="">
        </div>
    </div>
    
    <div class="task-body">

        <h1 class="task-title">
            [{{ taskType }}]
            <span>{{ taskTitle }}</span>
        </h1>

    </div>  
    <div class="task-footer">
        <div class="deadline-picker">
            <img src="../../../../../assets/icons/light/Menu/Presentations.svg" alt="">
            <p>{{ deadline | date }}</p>
        </div>
        <div class="assignee">
            <app-picture-avatar 
            [pictureUrl]="assigneePicture"
            />
            <p>{{ assigneeName }}</p>
        </div>
    </div>
</div>
