@import '../../../../assets/theme/palettes/palette.scss';
@import '../../../../assets/theme/mixins/table';

.internships-list-container {
    margin-top: 36px;
}

.page-header {
    .page-title {
        font-size: 20px;
        color: $dark;
        margin: 0;
    }

    .page-description {
        font-size: 12px;
        margin: 0;
        color: $dark-lighter;
    }
}

.add-internship-card {
    margin-top: 64px;
}