<div class="filter-dropdown" [style.border-color]="isOpen ? '$brand-purple-main' : '$stroke' ">
    <div class="dropdown-trigger" (click)="toggleDropdown()">
        <img [src]="icon" alt="">
        <p class="selected">
          {{ getSelectedDisplayValue(selectedValue) || label }}
        </p>
      </div>
      <div>
        <ul class="options-list" *ngIf="isOpen">
          <li *ngIf="options.length === 0" class="no-results-text">No results available.</li>
          <li *ngFor="let option of options" (click)="selectOption(option)">{{ option[displayProperty] }}</li>
        </ul>
      </div>


</div>
