<div class="row trainers-form-row">
    <div class="col-7">
        <div class="row form-row">
            <div class="description">
                <h1 class="description-title">
                    Invite team members
                </h1>
                <p class="description-text">
                    Get your internship up 
                    and running faster by inviting your team to collaborate as trainers
                </p>
            </div>

            <div class="fields mt-4">
                <app-filter-dropdown 
                label="Select user..."
                [options]="trainers"
                displayProperty="displayName"/>
                
                <app-filter-dropdown 
                label="Technology Stack"
                [options]="technologies"
                displayProperty="name"
                />
            </div>

            <div class="actions mt-2">
                <app-action-button 
                label="Delegate"/>
            </div>
        </div>
    </div>

    <div class="col-5"></div>
</div>
