@import '../colours/palette.scss';
@mixin table {
        width: 100%; // Adjust as needed
        border-collapse: collapse;
    
        thead {
    
            th {
                font-size: 12px;
                color: #647895;
                font-weight: 400;
                background-color: transparent; // Remove the background color from thead cells
            }
    
            th:first-child {
                padding-left: 32px; // Add your desired padding
            }
        }
    
        tbody {
            tr {
                height: 50px;
            }
    
            tr:nth-child(odd) {
                background-color: #F5F6F8; // Set your alternate color here
            }
    
            tr:first-child td:first-child {
                border-radius: 10px 0 0 0; // Add border radius to top left of the first cell in the first row
              }
          
              tr:first-child td:last-child {
                border-radius: 0 10px 0 0; // Add border radius to top right of the last cell in the first row
              }
          
              tr:last-child td:first-child {
                border-radius: 0 0 0 10px; // Add border radius to bottom left of the first cell in the last row
              }
          
              tr:last-child td:last-child {
                border-radius: 0 0 10px 0; // Add border radius to bottom right of the last cell in the last row
              }
    
            td:first-child {
                padding-left: 32px; // Add your desired padding
            }
    
            .table-data {
                display: flex;
                align-items: center;
                gap: 8px;
                width: 100%;
            }
    
            .table-data {
                .data {
                    font-size: 12px;
                    color: #647895;
                    margin: 0;
                }
            }
    
            .table-action {
                display: flex;
                align-self: center;
                gap: 8px;
                border: none;
                background-color: transparent;
                color: $brand-purple-main;
                font-size: 12px;
                font-weight: 500;
            }
        }
    
    }
