<div class="interns-step-body-container">
    <div class="title-container">
        <h1 class="step-title">{{ stepTitle }}</h1>
    </div>

    <div class="body-container">
        <div class="row">
            <div class="col-7">
                <div class="row form-row">
                    <div class="description">
                        <h1 class="description-title">
                            Invite team members
                        </h1>
                        <p class="description-text">
                            Get your internship up 
                            and running faster by inviting your team to collaborate as trainers
                        </p>
                    </div>

                    <div class="fields mt-4">
                        <app-field label="Select user..."/>
                    </div>

                    <div class="actions mt-2">
                        <app-action-button 
                        label="Enroll"/>
                    </div>
            </div>

            <div class="col-5"></div>
        </div>
    </div>
</div>
