<div class="container-fluid">
    <div class="page-header">
        <h1 class="page-title">Internship {{ internshipId }}</h1>
        <p class="page-description">On this page, you will find a range of options to manage and customize your internship program. 
            Each option is designed to provide you with flexibility and control over various aspects of the program. 
            Let's take a closer look at what each option offers.</p>
    </div>
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4 py-3" *ngFor="let option of options">
            <app-internship-option-card [option]="option" [internshipId]="internshipId"></app-internship-option-card>
        </div>
    </div>
</div>