<div class="container-fluid" *ngIf="(internshipSettings$ | async) as settings">
    <!-- Header -->
    <div class="row section-row settings-header align-items-center justify-content-between">
        <div class="col-xs-12 col-sm-12 col-md-7 col-lg-7 text-start">
            <h1 class="page-title">Internship {{ settings.id }}</h1>
            <p class="page-description">Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                Architecto tenetur amet voluptatum tempora cumque ea et magni eligendi voluptas modi,
                 nesciunt, harum laudantium placeat temporibus ipsam est, facilis consectetur nihil!</p>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-5 col-lg-5 text-end">
            <button class="btn save-all-button">Save All</button>
        </div>
    </div>

    <hr>

    <!-- Status -->
    <div class="row section-row status-section align-items-center justify-content-between">
        <div class="col-xs-12 col-sm-12 col-md-8 col-lg-8 text-start">
            <div class="section-header d-flex flex-row gap-2">
                <img src="../../../../../../assets/icons/internship-settings/status.svg" class="section-icon">
                <h2 class="section-title">Internship Status</h2>
            </div>
            <div class="section-description">
                <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. 
                    Magnam libero perspiciatis rerum recusandae cupiditate explicabo 
                    distinctio pariatur laudantium nihil inventore nemo quae qui nostrum 
                    obcaecati expedita laborum, incidunt similique enim!</p>
            </div>
            <div class="section-data-save">
                <button class="btn save-data-button">Save Status</button>
            </div>
        </div>

        <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4 text-end">
            <div class="dropdown w-100">
                <button class="btn w-100 btn-primary dropdown-toggle btn-lg" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  Ongoing
                </button>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                  <a class="dropdown-item" href="#">Action</a>
                  <a class="dropdown-item" href="#">Another action</a>
                  <a class="dropdown-item" href="#">Something else here</a>
                </div>
              </div>
        </div>
    </div>

    <hr>

        <!-- Location -->
        <div class="row section-row status-section align-items-center justify-content-between">
            <div class="col-xs-12 col-sm-12 col-md-8 col-lg-8 text-start">
                <div class="section-header d-flex flex-row gap-2">
                    <img src="../../../../../../assets/icons/internship-settings/location.svg" class="section-icon">
                    <h2 class="section-title">Internship Location</h2>
                </div>
                <div class="section-description">
                    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. 
                        Magnam libero perspiciatis rerum recusandae cupiditate explicabo 
                        distinctio pariatur laudantium nihil inventore nemo quae qui nostrum 
                        obcaecati expedita laborum, incidunt similique enim!</p>
                </div>
                <div class="section-data-save">
                    <button class="btn save-data-button">Change Location</button>
                </div>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4 text-end">
                <div class="dropdown w-100">
                    <button class="btn w-100 btn-primary dropdown-toggle btn-lg" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                      Timisoara
                    </button>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                      <a class="dropdown-item" href="#">Action</a>
                      <a class="dropdown-item" href="#">Another action</a>
                      <a class="dropdown-item" href="#">Something else here</a>
                    </div>
                  </div>
            </div>
        </div>
    
        <hr>

            <!-- Timeframe -->
    <div class="row section-row status-section align-items-center justify-content-between">
        <div class="col-xs-12 col-sm-12 col-md-7 col-lg-7 text-start">
            <div class="section-header d-flex flex-row gap-2">
                <img src="../../../../../../assets/icons/internship-settings/timeframe.svg" class="section-icon">
                <h2 class="section-title">Timeframe</h2>
            </div>
            <div class="section-description">
                <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. 
                    Magnam libero perspiciatis rerum recusandae cupiditate explicabo 
                    distinctio pariatur laudantium nihil inventore nemo quae qui nostrum 
                    obcaecati expedita laborum, incidunt similique enim!</p>
            </div>
            <div class="section-data-save">
                <button class="btn save-data-button">Reschedule</button>
            </div>
        </div>

        <div class="col-xs-12 col-sm-12 col-md-5 col-lg-5">
            <div class="row start-date-row py-2">
                <div class="col">
                    <label>Schedule to start on</label>
                </div>
                <div class="col">
                    <input class="data-input" type="text">
                </div>
            </div>
            <div class="row end-date-row">
                <div class="col">
                    <label for="">Schedule to end on</label>
                </div>
                <div class="col">
                    <input class="data-input" type="text">
                </div>
            </div>
        </div>
    </div>

    <hr>
    
    <div class="row section-row status-section align-items-center justify-content-between">
        <div class="col-xs-12 col-sm-12 col-md-7 col-lg-7 text-start">
            <div class="section-header d-flex gap-2">
                <img src="../../../../../../assets/icons/internship-settings/configuration.svg" class="section-icon">
                <h2 class="section-title">Configuration</h2>
            </div>
            <div class="section-description">
                <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. 
                    Magnam libero perspiciatis rerum recusandae cupiditate explicabo 
                    distinctio pariatur laudantium nihil inventore nemo quae qui nostrum 
                    obcaecati expedita laborum, incidunt similique enim!</p>
            </div>
            <div class="section-data-save">
                <button class="btn save-data-button">Save Configuration</button>
            </div>
        </div>

        <div class="col-xs-12 col-sm-12 col-md-5 col-lg-5">
            <div class="row start-date-row py-2">
                <div class="col">
                    <label for="">Enrollment capacity</label>
                </div>
                <div class="col">
                    <input class="data-input" type="text">
                </div>
            </div>
            <div class="row end-date-row">
                <div class="col">
                    <label for="">Duration in months</label>
                </div>
                <div class="col">
                    <input class="data-input" type="text">
                </div>
            </div>
        </div>
    </div>

</div>
