@import '../../../../../../assets/theme/mixins';

.section-row {
    padding: 64px 0;
}

.page-title {
    font-size: 24px;
    color: #2B2F42;
}

.page-description {
    font-size: 11px;
    color: #525577;
}

.section-description {
    font-size: 12px;
    font-weight: lighter;
    color: #999799;
    width: 80%;
    min-width: 80%;
}

.section-title {
    font-size: 18px;
    margin: 0;
}

.save-all-button, .save-data-button {
    @include medium-button;
}

label {
    font-size: 12px;
}

.data-input {
    border-radius: 8px;
    border: 1px solid #7166F9;
}

.dropdown-toggle {
    background-color: #7166F9
}

hr {
    color: #c4c4c4;
}