@import '../../../../../assets/theme/mixins/flex';
@import '../../../../../assets/theme/palettes/palette.scss';

.sharedComponents-primary-navigation {
    @include flex(row, 8px, space-between, center);
    padding: 0 100px;
    height: 60px;
    background-color: $dark; 
}

.primary-navigation-user-controls {
    @include flex(row, 8px, space-between, center);
}