<div class="sharedComponents-primary-navigation navbar-expand-lg">
    <div class="primary-navigation-logo">
        <img src="../../../../../assets/images/logo/app-logo-new-light.svg" alt="Shine Logo">
    </div>

    <div class="primary-navigation-nodes-container">
        <div>
            <ul class="navbar-nav me-auto mb-2 mb-lg-0 gap-4">
                <li class="nav-item d-flex" *ngFor="let node of nodes">
                    <link-node [node]="node"/>
                  </li> 
            </ul>
        </div>
    </div>

    <div class="primary-navigation-user-controls">
        <div class="user-controls-container" *ngFor="let control of accountControls">
            <link-node [node]="control" />
        </div>
    </div>

</div>
