@import '../.././../../../assets/theme/mixins';

.form-title, label {
    color: #2B2F42
}

.form-title {
    font-size: 24px;
}

label {
    text-align: left;
    padding: 0;
    color: 2B2F42;
    font-size: 12px;
}

input {
    border-radius: 8px;
    border: 1px solid #C5C5DD;
    height: 40px;
    font-size: 12px;
}

.signup-button {
    @include large-button;
    background-color: #7166F9 ;
}

small {
    color: #C4C4C4;
    font-weight: 300;
}

span {
    color: #7166F9;
    font-weight: normal;
}

.form-field-row {
    margin-bottom: 16px;
}

.form-body {
    margin-top: 24px;
}

.error-message {
    font-size: 11px;
}