<nav class="navbar navbar-expand-lg flex-column">

    <div class="container-fluid menu-nav-container">
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0 gap-4">
            <li class="nav-item d-flex" *ngFor="let menuItem of menu">
              <a class="nav-link" [routerLink]="[menuItem.route]" [routerLinkActive]="'active'" aria-current="page" href="#">
                <img class="menu-link-icon" [src]="menuItem.icon">
                {{ menuItem.name }}
              </a>
            </li>
          </ul>
        </div>
      </div>

</nav>
