@import '../../../../../assets/theme/colours/palette.scss';

.menu-link-icon {
    width: 14px;
    height: 14px;
}

.nav-link {
    display: flex;
    align-items: center;
    gap: 8px;
    position: relative;
    color: var(--app-nav-link-color, $primary-dark);
    font-size: 14px;
    font-weight: 400;
    padding: 4px 16px;
    transition: width 0.3s ease;
}
