<div class="row mentorships-form-row" *ngIf="!canCreatePairs">
    <p>
        You cannot create mentorship because no interns or trainers have been designated previously.
    </p>
</div>
<div class="row" *ngIf="canCreatePairs">
    <div class="col-3 pair-creation-column">
        <div class="row form-row gap-3">
            <app-mentorship-participant-card 
            [participant]="selectedIntern"
            height="30px"
            width="30px"/>
            <app-mentorship-participant-card 
            [participant]="selectedTrainer"
            height="30px"
            width="30px"/>
        </div>
        <div class="actions mt-2">
            <app-action-button 
            label="Create pair"/>
        </div>
    </div>

    <div class="col-9"></div>
</div>
