<table *ngIf="accounts$ | async as accounts">   
    <tbody>
        <tr *ngFor="let account of accounts" class="account-row">
            <td>
                <div class="d-flex">
                    <div class="avatar">
                        {{ account.firstName[0] }}{{ account.lastName[0] }}
                    </div>
                    <div class="user ms-3">
                        {{ account.firstName }} {{ account.lastName}}
                        {{ account.email }}
                    </div>
                </div>
            </td>
            <td>{{ account.email }}</td>
            <td>{{ account.joiningDate | date: 'mediumDate' }}</td>

            <td *ngIf="account.roles.length === 0">
                <app-button (click)="onUserSelected(account.id, account.identityId)" appearance="filled" label="+ Add Role" class="role-button"/>
            </td>
            <td *ngIf="account.roles.length === 1">
                <app-button (click)="onUserSelected(account.id, account.identityId)" appearance="filled" label="{{ account.roles[0].name }}" class="role-button"/>
            </td>
            <td *ngIf="account.roles.length > 1">
                <app-button (click)="onUserSelected(account.id, account.identityId)" appearance="filled" label="{{ account.roles[0].name }} (+{{ account.roles.length - 1 }} more)" class="role-button"/>
            </td>
            <td>
                <app-button appearance="filled" label="-"/>
            </td>
        </tr>
    </tbody>

</table>
