// brand colours
$blue-main: #4CD7F5;
$blue-darker: #5381D5;
$purple-main: #7166F9;

// text colours
$dark: #2B2F42;
$dark-lighter: #647895;
$muted-light: #e2e2e2;

// background
$background-light: #F6F6FB;
$stroke: #BCC0D3;
$background-muted: #F5F6F8;