@import '../../../../assets/theme/mixins';

.container-fluid {
    background-image: url(../../../../assets/images/backgrounds/auth-bg.png);
    background-repeat: no-repeat;
    background-size: cover;
}

.form-column {
    background-color: white;
}

.form-wrapper {
    margin: 0 100px;
}

.container-fluid {
    background-color: #7166F9;
}

.description-wrapper {
    padding: 50px 0;
    margin-left: 120px;
}

.app-title-description {
    margin-top: 40px;
    font-size: 24px;
    color: #2B2F42;
    width: 60%;
}

.app-features-description {
    font-size: 12px;
    color: #2B2F42;
    font-weight: lighter;
}