@import '../../../../assets/theme/colours/palette.scss';

.inline-navigation-container{
    display: flex;
    justify-content: space-between;
    padding: 0 160px;
    display: flex;
    align-items: center;
    height: 60px;
    background-color: $primary-dark;
}

.user-controls {
    display: flex;
    align-items: center;
    gap: 32px;
}

.account-controls {
    display: flex;
    gap: 24px;
}

.account-message {
    display: flex;
    align-items: center;
    text-align: end;
    gap: 24px;
    line-height: 14px;
}

.welcome, .username {
    color: white;
    margin: 0;
    padding: 0;
    font-size: 12px;
}
