@import '../../../../assets/theme/pallete.scss';

.sign-in-container {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: $dark;
  }

.app-logo {
    width: 140px;
    margin-bottom: 24px;
}

.signin-btn {
    margin-top: 24px;
    background-color: $purple-main;
    color: white;
    font-weight: 600;
    font-size: 14px;
}

.text, .title {
    font-size: 14px;
    font-weight: 400;
    width: 480px;
    margin-bottom: 16px;
    color: white;
  }