<div class="container-fluid">
    <nav class="navbar navbar-expand-lg">
        <div class="d-flex justify-content-between align-items-center w-100">
            <div>
                <img class="app-logo" src= "../../../assets/images/logo/app-logo-coloured-dark.svg">
            </div>
        
            <div class="user-account-controls d-flex align-items-center">
                <div class="account-controls me-4">
                  <img class="account-notification-icon me-4" src="../../../assets/icons/global/notification-dark.svg" alt="">
                  <img class="account-control-icon" src="../../../assets/icons/global/settings-dark.svg" alt="">
                </div>

                <div class="user-welcome-container me-3 p-0 d-flex align-items-center">
                  <div class="user-message me-3 text-end">
                    <p class="welcome p-0 m-0">Welcome, </p>
                    <p class="user p-0 m-0">User</p>
                  </div>
                  <img src="../../../assets/images/profile/placeholder-profile-pic.svg" alt="">
                </div>

                <div class="user-account-controls">

                </div>
                  <img class="account-more-icon" src="../../../assets/icons/global/more-dark.svg" alt="">
              </div>
        </div>
    </nav>
</div>