@import '../../../../assets/theme/colours/palette.scss';

.container-fluid {
    padding: 0 100px;
    background-color: white;
    border-bottom: 1px solid $muted-light;
}

.app-logo {
    width: 80px;
}

.account-notification-icon, 
.account-control-icon,
.account-more-icon {
    width: 22px;
}

.user-welcome-container {
    .user-message {
        line-height: normal;
    }

    .welcome, .user {
        font-size: 12px;
    }

    .welcome {
        color: $primary-dark-lighter;
    }

    .user {
        color: $primary-dark-lighter;
        font-weight: 600;
    }
}