.mentorship-pair {
    display: flex;
    gap: 16px;
    align-items: center;
    justify-content: space-between;
}

.connector-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
}

.button {
    display: flex;
    justify-content: center;
    position: absolute;
    left: 0;
    right: 0;
    z-index: 10000;
}

.connector {
    width: 500px;
}