@import '../../../../../../assets/theme/colours/palette.scss';

.mentorship-task-card-container {
    border: 1px solid $stroke;
    border-radius: 16px;
    padding: 16px 32px;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.task-header {
    display: flex;
    justify-content: space-between;
    font-size: 12px;
}

.status {
    display: flex;
    align-items: center;
    gap: 8px;
}

.status-dot {
    height: 8px;
    width: 8px;
    border-radius: 100%;
}

.status-name {
    color: $primary-dark;
    font-weight: 500;
}

.to-do {
    background-color: $brand-purple-main;
}

.done {
    background-color: $green;
}

.menu-icon {
    transform: rotate(90deg);
}

.task-title {
    font-size: 14px;
    color: $stroke;
    font-weight: 400;
}

.task-title span {
    color: $primary-dark;
    font-weight: 500;
}

.assignee {
    display: flex;
    align-items: center;
    gap: 8px
}

.assignee p {
    margin: 0;
    font-size: 14px;
    color: $primary-dark;
    font-weight: 500;
}

.deadline-picker p {
    margin: 0;
    font-size: 11px;
}

.task-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
}