<div class="internship-hub-components-schedule-internship-dialog">
    <div class="schedule-internship-dialog-header">
        <h1 class="title">Schedule internship</h1>
        <img class="close-icon" src="../../../../assets/icons/muted/Global/Close.svg" alt="">
    </div>

    <div class="schedule-internship-dialog-body">
        <div class="internship-options-description">
            Create a new internship program for your organisation. 
            This wizard allows you to select what sort of configuratino you want to start with.
            Read the bellow options and choose the one that's appropriate for you at the moment.
        </div>

        <div>
            <mat-radio-group
                aria-labelledby="example-radio-group-label"
                class="example-radio-group">
                <div>
                    <mat-radio-button class="example-radio-button">
                        Basic configuration
                    </mat-radio-button>
                    <p class="Configure the basics for internship creation. Finish off later in order to publish your internship."></p>
                </div>

                <div>
                    <mat-radio-button class="example-radio-button">
                        Basic configuration
                    </mat-radio-button>
                    <p class="Configure the basics for internship creation. Finish off later in order to publish your internship."></p>
                </div>
            </mat-radio-group>
        </div>
    </div>

    <div class="schedule-internship-dialog-footer">
        <action-button label="Cancel" appearance="outlined" />
        <action-button label="Start" />
    </div>
</div>
