@import '../../../../assets/theme/colours/palette.scss';

button {
    /* Shared styles for both fill styles (outline and filled) */
    transition: ease-in-out 0.2s;
    padding: 8px 16px;
    font-size: 12px;
    font-weight: 500;
    border-radius: 4px;
    cursor: pointer;
  
    /* Filled button style */
    &.filled {
        background-color: #E8EAEE;
        color: $primary-dark;
        border: none;
    }

    &.filled:hover {
        background-color: $primary-dark;
        color: white;
        transition: ease-in-out 0.2s;
    }
  
    /* Outline button style */
    &.outline {
      background-color: transparent;
      color: $primary-dark;
      border: 2px solid $primary-dark;
    }

    &.outline:hover {
        background-color: $primary-dark;
        color: white;
        transition: ease-in-out 0.2s;
    }
  }

  
